#divcntr {
    text-align: center;
}

.imgd {
    margin-top: 40px;
    border: 5px solid white;
}

body {
    background-color: black;
}

.textc {
    color: white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}